.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.main {
  display: flex;
}

.view-details {
  width: 70%;
}

.chat-view {
  flex: 1;
  min-height: 100vh;
  /* max-height: 470px; */
  width: 400px;
  position: "absolute";
  bottom: 0;
  right: 0;
}

#chatbot {
  min-height: 90vh;
  max-height: 87vh;
  width: "100%";
  overflow: "auto";
  background-color: #ffffff;
}
