.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.custom-nav {
  background-color: transparent !important;
  box-shadow: none;
}

.main {
  display: flex;
}

.view-details {
  width: 100%;
  height: 100vh;
}

.content-view {
  padding: 3rem 0;
  margin: 0 auto;
  width: 85%;
}

.ex-queries h2 {
  font-weight: 200;
}

.ex-queries h2,
p {
  text-align: center;
}

.ex-queries p {
  margin: 4rem;
  font-size: 1.4rem;
  font-weight: 300;
}

.recharts-default-tooltip {
  color: black;
}